/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}

/* HEADER */
.header-bg{
    padding: 10px 30px;
    background-color: white;
}

img{
    vertical-align: middle;
    width: 90px;
}

.title{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 40px;
    vertical-align: middle;
}

/* MAIN */

.container{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background-color: white;
}

/* Buttons */
.button{
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 7px 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.button-blue{
    margin-left: 100px;
    border-color: #47adf1;
    background-color: #47adf1;
    color: white;
}

.button-grey{
    border-color: #c5cbd0;
    background-color: white;
    color: #c5cbd0;
}

hr{
    border-style: solid;
    border-color: #f6f8f9;
    border-width: 1px;
}

/* List item */

.List-sizeing{
    padding-top: 30px;
    padding-left: 100px;
}

ul{
    list-style-type: none;
}

.list-start{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    vertical-align: top;
}

.li-margin{
    margin-bottom: 20px;
}

.ul-setting{
    padding-left: 5px;
    font-size: 20px;
}

/* Symbles */

.triangle{
    font-size: 30px;
    vertical-align: middle;
    
}

.checkmark{   
    border-color: green;
    border-style: solid;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px; 
    vertical-align: middle;
    color: green;
}

.cross{
    font-size: 10px;
    border-color: red;
    border-style: solid;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 15px; 
    vertical-align: middle;
    color: red;
}

.bottom-list-padding{
    padding-bottom: 20px;
}

/* color box */
.box{
    font-size: 14px;    
    padding: 5px 10px;
} 
.box-color-blu{

    border-radius: 20px;
    border: 1px solid #45abea;
    background-color: #45abea;
    color: white;

}

.box-color-purple{

    border-radius: 20px;
    border: 1px solid #9c72e4;
    background-color: #9c72e4;
    color: white;

}

.box-color-green{

    border-radius: 20px;
    border: 1px solid #64c0a9;
    background-color: #64c0a9;
    color: white;

}

.box-color-orange{

    border-radius: 20px;
    border: 1px solid #f29e33;
    background-color: #f29e33;
    color: white;

}

.box-color-magenta{

    border-radius: 20px;
    border: 1px solid #d863a1;
    background-color: #d863a1;
    color: white;

}

.box-color-yellow{

    border-radius: 20px;
    border: 1px solid #b0c926;
    background-color: #b0c926;
    color: white;

}